body{
    margin: 0px;
}


.ulnap{
    display: flex;
    list-style-type: none;
}


.linav{
    padding-right: 30px;
}

.biografia{
    font-family: "Pridi", serif;
}

img{
    width: 150px;
    height: auto;
}

.biografia{
    padding: 2px,2px,2px,2px;
}

.educacion{
    font-family: "Pridi", serif;
}